@layer reset {
  h1 { font-size: var(--font-size, var(--font-size-2xl)) }
  h2 { font-size: var(--font-size, var(--font-size-xl)) }
  h3 { font-size: var(--font-size, var(--font-size-lg)) }
  h4 { font-size: var(--font-size, var(--font-size-md)) }
  h5 { font-size: var(--font-size, var(--font-size-sm)) }
  h6 { font-size: var(--font-size, var(--font-size-xs)) }

    :where(h1, h2, h3, h4) {
      font-variation-settings: "wght" var(--weight, 600);
      line-height: var(--lineheight-xs);
      max-inline-size: var(--measure-md);
    }
}