---
---

<style>
  nav{
    border-right: 1px solid var(--surface-3);
    padding-inline: var(--space-md);

    a { 
      text-decoration: none;
      padding: var(--space-3xs);
      display: block; 
    }
  }
</style>

<nav>
  <ul role="list">
    <li><a href="">Getting Started</a></li>
    <li><a href="">Tokens</a></li>
    <li><a href="">Colors</a></li>
    <li><a href="">Tokens</a></li>
    <li><a href="">Tokens</a></li>
  </ul>
</nav>